<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>The Pawn Simulator</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">The Pawn Simulator</ion-title>
        </ion-toolbar>
    </ion-header>



    <ion-grid>
        <ion-row>
            <ion-col size="8">
                <table class="chess-board">
                    <tbody>
                        <tr>
                            <th>Y/X</th>
                            <th *ngFor="let rowX of chessBoardSet;let y = index; let firstYVal = first">{{y}} </th>
                        </tr>
                        <tr *ngFor="let rowX of chessBoardSet;let y = index; let firstYVal = first">
                            <th>{{y}}</th>
                            <td *ngFor="let rowy of rowX;let x = index; let firstXVal = first" appPawn [pawnValue]="rowy" [activeStatus]="rowy.activeStatus" class="pawn">
                        </tr>
                    </tbody>
                </table>
            </ion-col>
            <ion-col size="4">
                <ion-list>
                    <ion-list-header>
                        <ion-label>Command List</ion-label>
                    </ion-list-header>
                    <ion-item *ngFor="let command of commandList;let i = index;" (click)="showMessage(command)">
                        <ion-label>{{command.command}} {{command.moveX}} {{command.moveY}} {{command.rotation}} {{command.pawncolor}} {{command.moves}} </ion-label>
                        <ion-icon *ngIf="(command.activeStatus == true); else elseBlock" [color]="(command.validStatus == true)?'success':'danger'" [name]="(command.validStatus == true)?'checkmark-circle-outline':'close-circle-outline'" slot="end"></ion-icon>
                        <ng-template #elseBlock>
                            <ion-icon color="warning" slot="end" name="alert-circle-outline"></ion-icon>
                        </ng-template>
                    </ion-item>
                    <ion-item *ngIf="commandList.length == 0">
                        <ion-label>No command listed</ion-label>
                    </ion-item>
                </ion-list>
                <ion-item *ngIf="commandList.length !== 0">
                    <ion-button (click)="runCommands()" [disabled]="runCommandStatus">
                        <ion-icon name="play-outline"></ion-icon>&nbsp;Run
                    </ion-button>
                    <ion-button (click)="clear()">
                        <ion-icon name="trash-outline"></ion-icon>&nbsp;Clear
                    </ion-button>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>


    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addCommand()" [disabled]="runCommandStatus">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>


    <ion-modal [isOpen]="isModalOpen">
        <ng-template>
            <app-modal-content></app-modal-content>
        </ng-template>
    </ion-modal>
</ion-content>