ion-menu-button {
    color: var(--ion-color-primary);
}

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

// Chess board css **********************
.chess-board {
    border-spacing: 0;
    border-collapse: collapse;
    // width: 50%;
    margin: 0px 10px;
}

.chess-board th {
    padding: .5em;
}

.chess-board td {
    padding: 1.5em;
    border: 1px solid;
    width: 12%;
    height: 10%;
}

.pawn {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: '22px';
    position: relative;
}

.rotation {
    ;
    font-size: small;
    color: red;
}