<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="end" (click)="dismissModel()">
            <ion-icon name="close-outline" slot="end"></ion-icon>
        </ion-buttons>
        <ion-title>Add Commands</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <form [formGroup]="addCommandForm" (ngSubmit)="saveCommand()">
        <ion-item>
            <ion-label>Command</ion-label>
            <ion-select placeholder="select" interface="popover" formControlName="command" (ionChange)="commandChange()">
                <ion-select-option *ngFor="let cmd of commandMaster;" [value]="cmd">{{cmd}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="addCommandForm.get('command').value == 'PLACE'">
            <ion-label>X</ion-label>
            <ion-input formControlName="positionX"></ion-input>
        </ion-item>
        <ion-item *ngIf="addCommandForm.get('command').value == 'PLACE'">
            <ion-label>Y</ion-label>
            <ion-input formControlName="positionY"></ion-input>
        </ion-item>
        <ion-item *ngIf="addCommandForm.get('command').value == 'PLACE' || addCommandForm.get('command').value == 'ROTATE'">
            <ion-label>Rotate</ion-label>
            <ion-select placeholder="select" interface="popover" formControlName="rotation">
                <ion-select-option *ngFor="let cmd of rotateMaster;" [value]="cmd">{{cmd}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="addCommandForm.get('command').value == 'PLACE'">
            <ion-label>Pawan Color</ion-label>
            <ion-input formControlName="pawanColor"></ion-input>
        </ion-item>
        <ion-item *ngIf="addCommandForm.get('command').value == 'MOVE'">
            <ion-label>Move</ion-label>
            <ion-input formControlName="moves"></ion-input>
        </ion-item>
        <ion-item>
            <ion-button (click)="saveCommand()">
                <ion-icon slot="icon-only" name="save"></ion-icon>&nbsp;Save
            </ion-button>
        </ion-item>
    </form>
    <br>
    <hr>
    <ion-list>
        <ion-list-header>
            <ion-label>Command List</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let command of commandList;let i = index;">
            <ion-label>{{command.command}} {{command.moveX}} {{command.moveY}} {{command.rotation}} {{command.pawncolor}} {{command.moves}} </ion-label>
            <ion-icon *ngIf="(command.activeStatus == true); else elseBlock" color="success" slot="end" name="checkmark-circle-outline"></ion-icon>
            <ng-template #elseBlock>
                <ion-icon color="warning" slot="end" name="alert-circle-outline"></ion-icon>
            </ng-template>

        </ion-item>
        <ion-item *ngIf="commandList.length == 0">
            <ion-label>No command listed</ion-label>
        </ion-item>
    </ion-list>

</ion-content>